@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,800;0,900;1,700&family=Marcellus+SC&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* hero section */
.heroSwiper .swiper-button-prev:after {
    content: 'none';
}

.heroSwiper .swiper-button-next:after {
    content: 'none';
}
.img-gradient:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 16px;
    background: linear-gradient(90deg, #151515cc 0%, rgba(21, 21, 21, 0) 100%);
}
body{
    font-family: 'Alegreya', serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Marcellus SC', serif;
}
.logo-title{
    font-family: 'Marcellus SC', serif;
}
.price-plan{
    transition: all 0.2s ease-in !important;
}
.price-plan:hover {
    transform: translateY(-15px);
    border-bottom: 5px solid rgb(50, 104, 231);
}
.howDoesWorks {
    transition: all 0.2s ease-in !important;
}
.howDoesWorks:hover {
    transform: scale(115%);
    box-shadow: 0px 0px 20px 1px rgba(50, 104, 231, 0.493);
}

